// Classic Icons
$fontsClassic: (
    'solid': 900 1em/1 'Supacons Classic Solid',
    'regular': 400 1em/1 'Supacons Classic Regular',
    'light': 300 1em/1 'Supacons Classic Light',
    'thin': 100 1em/1 'Supacons Classic Thin',
    'duotone': 900 1em/1 'Supacons Classic Duotone',
);

// Brands Icons
$fontsBrands: (
    'brands': 400 1em/1 'Supacons Brands',
);

// Sharp Icons
$fontsSharp: (
    'solid': 900 1em/1 'Supacons Sharp Solid',
    'regular': 400 1em/1 'Supacons Sharp Regular',
);
