$fontSolid: 900 1em 'Supacons';
$fontRegular: 400 1em 'Supacons';
$fontThin: 100 1em 'Supacons';
$fontLight: 300 1em 'Supacons';
$fontDuotone: 900 1em 'Supacons Duotone';
$fontBrands: 400 1em 'Supacons Brands';

$types: 'solid', 'regular', 'thin', 'light', 'duotone', 'brands';
