@use './icons';
@use './functions';
@use './variables';

@font-face {
    font-family: 'Supacons Sharp Solid';
    src: url('../fonts/supacons-sharp-solid-900.woff2') format('woff2');
    font-weight: 900;
}

.fa-sharp.fa-solid {
    &::before {
        font: variables.$fontSharpSolid;
        display: inline-block;
        text-rendering: auto;
    }
}

@each $name, $glyph in icons.$generic {
    .fa-#{$name}::before {
        content: functions.primary($glyph);
    }
}
