@use './icons';
@use './functions';
@use './variables';

@font-face {
    font-family: 'Supacons Classic Light';
    src: url('../fonts/supacons-light-300.woff2') format('woff2');
    font-weight: 300;
}

.fa-light::before {
    font: map-get(variables.$fontsClassic, 'light');
    display: inline-block;
    text-rendering: auto;
}

@each $name, $glyph in icons.$generic {
    .fa-#{$name}::before {
        content: functions.primary($glyph);
    }
}
