@use './icons';
@use './functions';
@use './variables';

@font-face {
    font-family: 'Supacons Brands';
    src: url('../fonts/supacons-brands-400.woff2') format('woff2');
    font-weight: 400;
}

.fa-brands {
    &::before {
        font: variables.$fontBrands;
        display: inline-block;
        text-rendering: auto;
    }

    @each $name, $glyph in icons.$brands {
        &.fa-#{$name}::before {
            content: functions.primary($glyph);
        }
    }
}
