@use './icons';
@use './functions';
@use './variables';

@font-face {
    font-family: 'Supacons Light';
    src: url('../fonts/supacons-light-300.woff2') format('woff2');
    font-weight: 300;
}

.fa-light {
    &::before {
        font: variables.$fontLight;
        display: inline-block;
        text-rendering: auto;
    }

    @each $name, $glyph in icons.$generic {
        &.fa-#{$name}::before {
            content: functions.primary($glyph);
        }
    }
}
