@use './icons';
@use './functions';
@use './variables';

@font-face {
    font-family: 'Supacons Classic Duotone';
    src: url('../fonts/supacons-duotone-900.woff2') format('woff2');
    font-weight: 900;
}

.fa-duotone {
    position: relative;
    padding-left: 1.25em;

    &::before,
    &::after {
        font: map-get(variables.$fontsClassic, 'duotone');
        display: inline-block;
        text-rendering: auto;
        position: absolute;
        width: 1.25em;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        text-align: center;
    }

    @each $name, $glyph in icons.$generic {
        &.fa-#{$name}::after {
            content: functions.secondary($glyph);
            opacity: 0.4;
        }
    }
}

@each $name, $glyph in icons.$generic {
    .fa-#{$name}::before {
        content: functions.primary($glyph);
    }
}
