@use '../icons';
@use '../functions';
@use '../variables';

@import '../_fonts/_sharp/solid';

.fa-sharp.fa-solid::before {
    font: map-get(variables.$fontsSharp, 'solid');
    display: inline-block;
    text-rendering: auto;
}

@each $name, $glyph in icons.$generic {
    .fa-#{$name}::before {
        content: functions.primary($glyph);
    }
}
