@use '../icons';
@use '../functions';
@use '../variables';

@use '../_fonts/_classic/regular';

.fa-regular::before {
    font: map-get(variables.$fontsClassic, 'regular');
    display: inline-block;
    text-rendering: auto;
}

@each $name, $glyph in icons.$generic {
    .fa-#{$name}::before {
        content: functions.primary($glyph);
    }
}
