@use '../icons';
@use '../functions';
@use '../variables';

@use '../_fonts/_classic/light';

.fa-light::before {
    font: map-get(variables.$fontsClassic, 'light');
    display: inline-block;
    text-rendering: auto;
}

@each $name, $glyph in icons.$generic {
    .fa-#{$name}::before {
        content: functions.primary($glyph);
    }
}
