@use '../icons';
@use '../functions';
@use '../variables';

@font-face {
    font-family: 'Supacons Classic Thin';
    src: url('../../../fonts/supacons-thin-100.woff2') format('woff2');
    font-weight: 100;
}

.fa-thin::before {
    font: map-get(variables.$fontsClassic, 'thin');
    display: inline-block;
    text-rendering: auto;
}

@each $name, $glyph in icons.$generic {
    .fa-#{$name}::before {
        content: functions.primary($glyph);
    }
}
