@font-face {
    font-family: "Supacons Duotone Solid";
    src: url("../fonts/duotone/supacons-duotone-solid-900.woff2") format("woff2");
    font-weight: 900;
}

@font-face {
    font-family: "Supacons Duotone Regular";
    src: url("../fonts/duotone/supacons-duotone-regular-400.woff2") format("woff2");
    font-weight: 400;
}

@font-face {
    font-family: "Supacons Duotone Light";
    src: url("../fonts/duotone/supacons-duotone-light-300.woff2") format("woff2");
    font-weight: 300;
}

@font-face {
    font-family: "Supacons Duotone Thin";
    src: url("../fonts/duotone/supacons-duotone-thin-100.woff2") format("woff2");
    font-weight: 100;
}
