@use '../icons';
@use '../functions';
@use '../variables';

@import '../_fonts/_brands/brands';

.fa-brands::before {
    font: map-get(variables.$fontsBrands, 'brands');
    display: inline-block;
    text-rendering: auto;
}

@each $name, $glyph in icons.$brands {
    .fa-#{$name}::before {
        content: functions.primary($glyph);
    }
}
