@font-face {
    font-family: 'Supacons Sharp Solid';
    src: url('../fonts/sharp/supacons-solid-900.woff2') format('woff2');
    font-weight: 900;
}

@font-face {
    font-family: 'Supacons Sharp Regular';
    src: url('../fonts/sharp/supacons-regular-400.woff2') format('woff2');
    font-weight: 400;
}

@font-face {
    font-family: 'Supacons Sharp Light';
    src: url('../fonts/sharp/supacons-light-300.woff2') format('woff2');
    font-weight: 300;
}
