@font-face {
    font-family: 'Supacons Classic Thin';
    src: url('../fonts/classic/supacons-thin-100.woff2') format('woff2');
    font-weight: 100;
}

@font-face {
    font-family: 'Supacons Classic Light';
    src: url('../fonts/classic/supacons-light-300.woff2') format('woff2');
    font-weight: 300;
}

@font-face {
    font-family: 'Supacons Classic Regular';
    src: url('../fonts/classic/supacons-regular-400.woff2') format('woff2');
    font-weight: 400;
}

@font-face {
    font-family: 'Supacons Classic Solid';
    src: url('../fonts/classic/supacons-solid-900.woff2') format('woff2');
    font-weight: 900;
}

@font-face {
    font-family: 'Supacons Classic Duotone';
    src: url('../fonts/classic/supacons-duotone-900.woff2') format('woff2');
    font-weight: 900;
}
