@font-face {
    font-family: "Supacons Classic Solid";
    src: url("../fonts/classic/supacons-classic-solid-900.woff2") format("woff2");
    font-weight: 900;
}

@font-face {
    font-family: "Supacons Classic Regular";
    src: url("../fonts/classic/supacons-classic-regular-400.woff2") format("woff2");
    font-weight: 400;
}

@font-face {
    font-family: "Supacons Classic Light";
    src: url("../fonts/classic/supacons-classic-light-300.woff2") format("woff2");
    font-weight: 300;
}

@font-face {
    font-family: "Supacons Classic Thin";
    src: url("../fonts/classic/supacons-classic-thin-100.woff2") format("woff2");
    font-weight: 100;
}
