// solid
@font-face {
    font-family: 'Supacons Classic Solid';
    src: url('../fonts/supacons-solid-900.woff2') format('woff2');
    font-weight: 900;
}

// regular
@font-face {
    font-family: 'Supacons Classic Regular';
    src: url('../fonts/supacons-regular-400.woff2') format('woff2');
    font-weight: 400;
}

// light
@font-face {
    font-family: 'Supacons Classic Light';
    src: url('../fonts/supacons-light-300.woff2') format('woff2');
    font-weight: 300;
}

// thin
@font-face {
    font-family: 'Supacons Classic Thin';
    src: url('../fonts/supacons-thin-100.woff2') format('woff2');
    font-weight: 100;
}

// duotone
@font-face {
    font-family: 'Supacons Classic Duotone';
    src: url('../fonts/supacons-duotone-900.woff2') format('woff2');
    font-weight: 900;
}
