@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@500;600;700&display=swap');

:root {
    font-size: 16px;
    --text: #1e3a8a;
    --bg: linear-gradient(60deg, #ffde00 20%, #ffe200 100%);
    --bg-alt: #ffd700;
    --time: 200ms;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lexend', sans-serif;
    -webkit-tap-highlight-color: transparent;
}

body {
    width: 100%;
    position: relative;
    font-weight: 600;
}

a {
    all: unset;
    display: block;
    cursor: pointer;
    color: inherit;
}

.container {
    width: 100%;
    color: var(--text);
}

.wrapper {
    width: 92%;
    margin: 0 auto;
}

.break {
    width: 100%;
    height: 2px;
    background-color: var(--bg-alt);
}

.rule {
    width: 2px;
    height: 2rem;
    background-color: var(--bg-alt);
}

.badge {
    padding: 1px 6px;
    pointer-events: none;
    border-radius: 3px;
    background-color: #1e3b8a63;
    font-weight: 700;
}

.copy-toaster {
    position: fixed;
    bottom: 2rem;
    left: 50%;
    font-size: 1.2rem;
    font-weight: 700;
    transform: translateX(-50%);
    background: var(--bg);
    border-radius: 0.4rem;
    border: 0.2rem solid var(--bg-alt);
    padding: 0.4rem 1rem;
}

@media only screen and (max-width: 800px) {
    .copy-toaster {
        font-size: 0.9rem;
    }
}
