.icon {
    padding: 0.5rem;
    border-radius: 0.5rem;
    border: 0.12rem solid #1e3b8a3b;
    flex-grow: 1;
    width: clamp(150px, 10vw, 200px);
    cursor: pointer;
}

.font_icon {
    padding: 1rem;
    display: flow-root;
    text-align: center;
    opacity: 0.85;
}
.font_icon i {
    font-size: 2rem;
    color: #162961;
}

.name {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 1rem;
    font-weight: 500;
}
